.contact__element {
    display: flex;
}

.contact__element h3 {
    display: inline-block;
    width: 200px;
    padding: 0 auto;
}

.contact__element input {
    width: 400px;
    height: 30px;
    margin: 20px 50px;
}

.contact__element textarea {
    width: 400px;
    height: 200px;
    margin: 20px 50px;
}

.must {
    background: #CCC;
    padding: 5px;
    margin: 10px;
    font-size: 10px;
    color: #777;
}

.error {
    color: red;
    margin: 0 50px;
}